<% include partials/head %>


  <div class="main container-fluid">

    <div class="row">
      <div class="col-md-5 offset-md-3 col-sm-9 col-xs-12">
        <h3>UPDATE POST</h3>
        <form action="/updatepost/<%= posts._id %>" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Post Title" name="title" required value="<%= posts.title %>">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Post Content</label>
            <textarea class="form-control" name="content" id="exampleTextarea" rows="5" required><%= posts.content %></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="tags" placeholder="#Tags" required value="<%= posts.tags %>">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Image Link (https://imgur.com/)" name="imagelink" value="<%= posts.imagelink %>">
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-block" type="submit">UPDATE POST</button>
          </div>

        </form>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
      </div>
    </div>


  </div>

  </div>

  <% include partials/foot %>